<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
<head>
    <title th:text='${action +" account"}'></title>
</head>
<body>
<div layout:fragment="content">

    <!-- daterange picker -->
    <link rel="stylesheet" th:href="@{/plugins/daterangepicker/daterangepicker.css}">
    <!-- Select2 -->
    <link rel="stylesheet" th:href="@{/plugins/select2/css/select2.min.css}">

    <div class="container-fluid">
        <form class="row mb-2" data-toggle="validator" role="form" th:object="${account}" th:action="@{/accounts/save}"
              autocomplete="off" method="post">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <div class="box-body">
                            <input type="hidden" th:field="*{uuid}"/>

                            <div class="form-group">
                                <label for="Firstname">First name</label>
                                <input type="text" required="true" th:classappend="${#fields.hasErrors('firstName')} ? 'is-invalid' : ''"
                                       class="form-control" th:field="*{firstName}"
                                       id="firstname"/>
                                <span class="error text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First name error</span>
                            </div>
                            <div class="form-group">
                                <label for="Lastname">Last name</label>
                                <input type="text" required="true" th:classappend="${#fields.hasErrors('firstName')} ? 'is-invalid' : ''"
                                       class="form-control" th:field="*{lastName}"
                                       id="lastname"/>
                                <span class="error text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last name error</span>
                            </div>
                            <div class="form-group">
                                <label for="email">E-mail</label>
                                <input type="email" required="true" th:classappend="${#fields.hasErrors('email')} ? 'is-invalid' : ''"
                                       class="form-control"
                                       th:field="*{email}"
                                       id="email"/>
                                <span class="error text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</span>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" required="true" th:classappend="${#fields.hasErrors('password')} ? 'is-invalid' : ''"
                                       class="form-control"
                                       th:field="*{password}"
                                       id="password"/>
                                <span class="error text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</span>
                            </div>
                            <div class="form-group">
                                <label for="password">Retype password</label>
                                <input type="password" required="true" th:classappend="${#fields.hasErrors('rePassword')} ? 'is-invalid' : ''"
                                       class="form-control"
                                       th:field="*{rePassword}"
                                       id="rePassword"/>
                                <span class="error text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{rePassword}">Retype password error</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="currency">Currency</label>
                                <select th:field="*{currency}" id="currency" data-placeholder="Select currency"
                                        th:classappend="${#fields.hasErrors('currency')} ? 'is-invalid' : ''"
                                        class="form-control select2" style="width: 100%;">
                                    <option value="">Select a currency</option>
                                    <option th:each="currency : ${currencies}"
                                            th:field="*{currency}"
                                            th:value="${currency}"
                                            th:text="${currency}">Currency</option>
                                </select>
                                <span class="error text-danger" th:if="${#fields.hasErrors('currency')}"
                                      th:errors="*{currency}">Currency error</span>
                            </div>
                            <div class="form-group">
                                <label for="avatar">Avatar</label>
                                <input type="text" th:classappend="${#fields.hasErrors('avatar')} ? 'is-invalid' : ''"
                                       class="form-control" th:field="*{avatar}" autocomplete="" placeholder="Url" id="avatar"/>
                                <span class="error text-danger" th:if="${#fields.hasErrors('avatar')}"
                                      th:errors="*{avatar}">Avatar error</span>
                            </div>
                            <div class="form-group">
                                <label>Gender</label>
                                <div class="form-check">
                                    <input id="gender_male" class="form-check-input" type="radio" name="gender"
                                           th:checked="${account.getGender().name() == 'MALE'}" th:value="MALE">
                                    <label for="gender_male" class="form-check-label">Male</label>
                                </div>
                                <div class="form-check">
                                    <input id="gender_female" class="form-check-input" type="radio" name="gender"
                                           th:checked="${account.getGender().name() == 'FEMALE'}" th:value="FEMALE">
                                    <label for="gender_female" class="form-check-label">Female</label>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <button class="btn btn-primary" type="submit">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- Select2 -->
    <script th:src="@{/plugins/select2/js/select2.full.min.js}"></script>
    <!-- InputMask -->
    <script th:src="@{/plugins/moment/moment.min.js}"></script>
    <script th:src="@{/plugins/inputmask/min/jquery.inputmask.bundle.min.js}"></script>
    <!-- date-range-picker -->
    <script th:src="@{/plugins/daterangepicker/daterangepicker.js}"></script>
    <script th:inline="javascript">
        $(function () {
            //Initialize Select2 Elements
            $('.select2').select2();

            $('[data-mask]').inputmask();

            // $('#hireDate').inputmask('dd/mm/yyyy', { 'placeholder': 'DD/MM/YYYY' });

            //Date time picker
            $('#hireDate-datepicker').daterangepicker({
                timePicker: false,
                singleDatePicker: true,
                showDropdowns: true,
                minYear: 2015,
                maxDate: new Date(),
                locale: {
                    format: 'DD/MM/YYYY'
                }
            });
            $('#hireDate-datepicker').on('apply.daterangepicker', function(ev,picker) {
                //console.log("start: " + picker.startDate.format('DD/MM/YYYY'));
                $('#hireDate').val(picker.startDate.format('DD/MM/YYYY'));
            });
        });
    </script>
</div>
</body>
</html>
