<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
<head>
    <title>Profile</title>
</head>
<body>
<div layout:fragment="content">

    <!-- Select2 -->
    <link rel="stylesheet" th:href="@{/plugins/select2/css/select2.min.css}">

    <div class="container-fluid">
        <div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>
        <div class="row">
            <div class="col-md-3">
                <!-- Profile Image -->
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <img class="profile-user-img img-fluid img-circle"
                                 th:src="@{${profile.avatar}}"
                                 alt="User profile picture">
                        </div>

                        <h3 class="profile-username text-center" th:text="${profile.fullName}">Full Name</h3>

                        <div class="text-center">
                            <strong><i class="fas fa-envelope mr-1"></i> Email</strong>
                            <p class="text-muted" th:text="${profile.email}">Email</p>
                        </div>

                        <a th:if="${!section.isAdmin()}" th:href="@{/logout}"
                           class="btn btn-primary btn-block"><b>Logout</b></a>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>

            <div class="col-md-9">
                <!-- About Me Box -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Bank Accounts</h3>
                        <button th:if="${bankAccount != null}" id="add_bank_account" type="button" class="btn btn-tool mt-0 p-0 float-right">
                            <i class="fas fa-plus"></i> Add item</button>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="bank_accounts" class="row d-flex align-items-stretch">
                                </div>
                                <div class="row justify-content-center m-0">
                                    <table id="datatable_bank_accounts" class="table table-striped"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
<!--                    <div class="card-footer">-->
<!--                        <nav aria-label="Contacts Page Navigation">-->
<!--                            <ul class="pagination justify-content-center m-0">-->
<!--                                <li class="page-item active"><a class="page-link" href="#">1</a></li>-->
<!--                                <li class="page-item"><a class="page-link" href="#">2</a></li>-->
<!--                                <li class="page-item"><a class="page-link" href="#">3</a></li>-->
<!--                            </ul>-->
<!--                        </nav>-->
<!--                    </div>-->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->

    <div th:if="${bankAccount != null}" class="modal fade" id="bank_account-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add bank account</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="bank_account-form" data-toggle="validator" role="form" th:object="${bankAccount}"
                          th:action="@{/bank_accounts/add}"
                          autocomplete="off" method="post">
                        <input class="form-control" type="hidden" name="ownerUuid" th:value="${profile.uuid}"/>

                        <div class="form-group">
                            <label for="number">Number</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-credit-card"></i></span>
                                </div>
                                <input type="text" th:classappend="${#fields.hasErrors('number')} ? 'is-invalid' : ''"
                                       class="form-control"
                                       th:field="*{number}" id="number"
                                       data-inputmask='"mask": "9999-9999-9999-9999"' data-mask>
                                <span class="error text-danger" th:if="${#fields.hasErrors('number')}"
                                      th:errors="*{number}">Number error</span>
                            </div>
                            <!-- /.input group -->
                        </div>
                        <div class="form-group">
                            <label for="amount">Amount</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-coins"></i></span>
                                </div>
                                <input type="text" th:classappend="${#fields.hasErrors('amount')} ? 'is-invalid' : ''"
                                       class="form-control"
                                       th:field="*{amount}" id="amount"
                                       data-inputmask="'alias': 'currency', 'rightAlign': false,
                                       'prefix': '$ ','min':0,'max':1000000" data-mask>
                                <span class="error text-danger" th:if="${#fields.hasErrors('amount')}"
                                      th:errors="*{amount}">Amount error</span>
                            </div>
                            <!-- /.input group -->
                        </div>
                        <div class="form-group">
                            <label for="currency">Currency</label>
                            <select th:field="*{currency}" id="currency" data-placeholder="Select a currency"
                                    th:classappend="${#fields.hasErrors('currency')} ? 'is-invalid' : ''"
                                    class="form-control select2" style="width: 100%;">
                                <option th:each="curr : ${currencies}"
                                        th:field="*{currency}"
                                        th:value="${curr.getDisplayValue()}"
                                        th:text="${curr.getDisplayValue()}">Currency</option>
                            </select>
                            <span class="error text-danger" th:if="${#fields.hasErrors('currency')}"
                                  th:errors="*{currency}">Currency error</span>
                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-right">
                    <button type="button" class="btn btn-default cancel" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary confirm">Add</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!-- DataTables -->
    <script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
    <script th:src="@{/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>

    <!-- Select2 -->
    <script th:src="@{/plugins/select2/js/select2.full.min.js}"></script>
    <script th:src="@{/plugins/inputmask/min/jquery.inputmask.bundle.min.js}"></script>
    <script th:src="@{/dist/js/profile.js}"></script>

    <script th:inline="javascript">
        $(function () {
            //Initialize Select2 Elements
            $('.select2').select2();

            $('[data-mask]').inputmask();

            initBankAccounts();
        });

        /*<![CDATA[*/

        var isAdmin = /*[[${section.isAdmin()}]]*/ 'false';
        console.log(isAdmin);

        /*]]>*/
    </script>

</div>
</body>
</html>